
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 2;
}

.card   
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    gap: 1rem;
    height: 40vh;;
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.card p {
    align-self: flex-start;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
}



.red {
    border-top: solid 0.3rem var(--red);
    grid-column:  2 / 3;
    grid-row: span 2;
}
.cyan {
    border-top: solid 0.3rem var(--cyan);
    grid-column: 1 / 1;
    grid-row: 2 / span 2;

}
.orange {
    border-top: solid 0.3rem var(--orange);
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
}
.blue {
    border-top: solid 0.3rem var(--blue);
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
}