
body {
    margin-top: 2rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.card   
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.red {
    grid-column:  2 / 3;
    grid-row: span 2;
}
.cyan {
    grid-column: 1 / 1;
    grid-row: 2 / span 2;

}
.orange {
    grid-column: 2 / 3;
    grid-row: 3 / span 2;
}
.blue {
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
}