:root
{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    --main-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 0.938em;

}



h1 {
    font-size: 2em;
    font-weight: 200;
    color: var(--grey-400);
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--grey-500);
}

h3 {
    font-size: 0.825rem;
    font-weight: 500;
    color: var(--grey-400);
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--grey-500);
}

p {
    font-size: 0.825rem;
    font-weight: 400;
    color: var(--grey-400);
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.card   
{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    height: auto;
}

.card section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card p {
    align-self: flex-start;
}

.red {
    border-top: solid 0.3rem var(--red);

}
.cyan {
    border-top: solid 0.3rem var(--cyan);

}
.orange {
    border-top: solid 0.3rem var(--orange);
}
.blue {
    border-top: solid 0.3rem var(--blue);
}

