.header {
    align-items: flex-start;
    justify-content: center;

}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    
}

.card   
{   
    height: fit-content;
    width: 100%;
}
.card p {
    align-self: flex-start;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
}
